.image i, .compare-info i {
    width: 99px;
    height: 41px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.product-info .left .image i {
    width: 99px;
    height: 41px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
}